_BASE_: "Base-MEInst.yaml"
MODEL:
  WEIGHTS: "detectron2://ImageNetPretrained/MSRA/R-50.pkl"
  RESNETS:
    DEPTH: 50
  MEInst:
    DIM_MASK: 60
    MASK_SIZE: 28
    LOSS_ON_MASK: False
    LOSS_ON_CODE: True
    MASK_LOSS_TYPE: ['mse', 'cosine', 'kl_softmax']
    USE_DEFORMABLE: False
    LAST_DEFORMABLE: False
    TYPE_DEFORMABLE: "DCNv2"
    PATH_COMPONENTS: "/home/lab2/keyi/data/coco/components/coco_2017_train_class_agnosticTrue_whitenTrue_sigmoidTrue_60.npz"
INPUT:
  MIN_SIZE_TRAIN: (400,)
SOLVER:
  IMS_PER_BATCH: 16
  BASE_LR: 0.01
  GAMMA: 0.1
  WARMUP_METHOD: "constant"
  WARMUP_FACTOR: 0.3333
  WARMUP_ITERS: 500
  STEPS: (50000, 80000)
  MAX_ITER: 90000
  CHECKPOINT_PERIOD: 40000
TEST:
  EVAL_PERIOD: 40000
